stack_name=json-file-processor
reference_s3_bucket=aws-exercise-reference-architectures
reference_s3_bucket_prefix=serverless
delete_stack=none
default_aws_profile="jumo-dev"
default_tag_environment="dev"
default_owner="data-engineering"
default_classification="confidential"
default_status="active"
in_template_file="../templates/json_file_processor.yaml"
out_template_file="../templates/json_file_processor_out.yaml"